{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}お問い合わせ{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">お問い合わせ</div>
            <form method="post" onsubmit="return false;">
                {% csrf_token %}
                <table class="profile_table mb-4">
                    <tbody>
                        <tr>
                            <th class="header">{{ form.name.label }}</th>
                            <td class="data">
                                {% render_field form.name class="form-control" placeholder='' %}
                                {% for error in form.name.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="header">{{ form.email.label }}</th>
                            <td class="data">
                                {% render_field form.email class="form-control" placeholder='' %}
                                {% for error in form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="header">{{ form.message.label }}</th>
                            <td class="data">
                                {% render_field form.message class="form-control" placeholder='' %}
                                {% for error in form.message.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {# non_field_errorを表示 #}
                {% include 'form_alert.html' %}
                <div class="button mx-auto text-center my-2">
                    <button class="btn btn-custom btn-lg btn-warning btn-block" type="button" onclick="submit();">
                        <i class="fas fa-paper-plane">&nbsp;送信する</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}