{% extends "base.html" %}

{% block title %}お問い合わせ{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">お問い合わせありがとうございました。</div>
            <div class="text-center">
                <p class="mb-2">内容を確認いたしまして、ご連絡させて頂きます。</p>
                <p class="mb-4">しばらくお待ち下さい。</p>
                <a href="/" class="btn btn-custom btn-warning">ホームに戻る</a>
            </div>
        </div>
    </div>

{% endblock %}