{% extends "base.html" %}
{% load widget_tweaks %}
{% load filename %}
{% load static %}

{% block extra_css%}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"
        integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/display/fullscreen.min.css"
        integrity="sha512-T8xB3MmwpA77VK9lUH3UkdUTnkmpqOxHF8OceOKaHrvpcXMSNX0xtpa9FoLTDAVO1JnB2UiMdVeI2V0HTHjTWA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'app/css/one-dark.css' %}">
{% endblock %}

{% block title %}{{ tip.title }}
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col-md-10" style="word-break: break-word;">
            <h2>{{ tip.title }}</h2>
            <div class="my-2">タグ：{% for tag in tip.tags.all %}
                    <span class="tag me-2">{{ tag }}</span>{% endfor %}
            </div>
            <div class="card mb-3">
                <div class="card-body detail-card-body">
                    <small class="d-inline-block mb-2">コードにカーソル、<span class="text-danger">Escキーで拡大・縮小</span></small>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for code in codes %}
                            <li class="nav-item detail-tab-list" role="presentation">
                                <a
                                    class="nav-link detail-tab-text code-tab {% if forloop.first %}active{% endif %} "
                                    style="overflow-x: scroll;"
                                    id="code-{{ forloop.counter0 }}-tab"
                                    data-bs-toggle="tab"
                                    href="#code-{{ forloop.counter0 }}"
                                    role="tab"
                                    aria-controls="code-{{ forloop.counter0 }}"
                                    aria-selected="true">
                                    <span style="white-space:nowrap">
                                        {% if code.filename %}{{ code.filename }}
                                        {% else %}No filename{% endif %}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% for code in codes %}
                            <div
                                class="tab-pane fade{% if forloop.first %}show active{% endif %}"
                                id="code-{{ forloop.counter0 }}"
                                role="tabpanel"
                                aria-labelledby="code-{{ forloop.counter0 }}-tab">
                                <textarea class="code-content" readonly="readonly" style="display:none;">{{ code.content }}</textarea>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body detail-card-body">
                    <p>{{ tip.description|linebreaks }}</p>
                </div>
            </div>
            <div class="row mb-3 detail-list">
                <div class="col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>登録者&emsp;：</strong>
                                <a href="{% url 'app:usertip' tip.created_by_id %}">
                                    {% if tip.created_by.icon %}
                                    <img src="{{ tip.created_by.icon.url }}" class="icon-display">
                                    {% endif %}
                                    {% if tip.created_by.is_active %}
                                    {{ tip.created_by.username }}
                                    {% else %}
                                    Inactive User
                                    {% endif %}
                                </a>
                            </li>
                            <li class="list-group-item"><strong>公開範囲：</strong>{{ tip.public_set|title }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>更新日時：</strong>{{ tip.updated_at }}</li>
                            <li class="list-group-item"><strong>登録日時：</strong>{{ tip.created_at }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if tip.tweet %}
                <div class="card mb-3">
                    <div class="card-body detail-card-tweet text-center">
                        <p class="my-1"><strong>ヒトコト</strong></p>{{ tip.tweet|linebreaks }}
                    </div>
                </div>
            {% endif %}
            <!--お気に入り表示-->
            {% if tip.public_set == 'public' %}
                <div class="mb-3">
                    <span class="me-3">お気に入り<i class="fas fa-heart" style="color: pink;"></i>&nbsp;{{ tip.like_count }}</span>
                    {% if tip.created_by != request.user and request.user.is_authenticated %}
                        {% if is_liked %}
                            <a
                                href="{% url 'app:delete_like' tip.pk %}"
                                class="btn btn-sm"
                                style="background-color: orange; color: white;">お気に入り解除</a>
                        {% else %}
                            <a
                                href="{% url 'app:add_like' tip.pk %}"
                                class="btn btn-sm"
                                style="background-color: hotpink; color: white;">お気に入り登録</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <!--//お気に入り表示-->
            <div class="mb-3">
                <a
                    href="javascript:void(0);"
                    onclick="window.history.back();"
                    class="btn btn-custom btn-outline-dark">戻る</a>
                {% if tip.created_by == request.user %}
                    <a href="{% url 'app:tip_update' tip.pk %}" class="btn btn-custom btn-primary">更新</a>
                    <form
                        method="post"
                        action="{% url 'app:tip_delete' tip.pk %}"
                        id="tip-delete-form"
                        class="d-inline">
                        {% csrf_token %}
                        <button type="button" class="btn btn-custom btn-danger" id="tip-delete-button">削除</button>
                    </form>
                {% endif %}
            </div>
            <!--コメント表示-->
            {% if tip.public_set == 'public' %}
                <div class="ui segment">
                    <h4>コメント</h4>
                    {% for comment in comments %}
                        <div class="ui segment secondary" style="color: grey;">
                            <p>{{ comment.no }}.
                                {% if comment.created_by.icon %}
                                    <img src="{{ comment.created_by.icon.url }}" class="icon-display">
                                {% endif %}
                                {% if comment.created_by.is_active %}
                                    {{ comment.created_by.username }}
                                {% else %}
                                    Inactive User
                                {% endif %}
                                &emsp;
                                <small>宛先:
                                    {% for to_user in comment.to_users.all %}
                                        {% if to_user.is_active %}
                                            [{{ to_user.username }}]
                                        {% else %}
                                            [Inactive User]
                                        {% endif %}
                                    {% empty %}
                                        なし
                                    {% endfor %}
                                </small>
                                <br>
                                {{ comment.created_at}}
                            </p>
                            <p>{{comment.text}}</p>
                            {% if comment.created_by == request.user %}
                                <form
                                    action="{% url 'app:delete_comment' tip.pk comment.no %}"
                                    method="POST"
                                    id="comment-delete-form">
                                    {% csrf_token %}
                                    <div class="text-end">
                                        <button type="button" class="btn btn-custom btn-secondary" id="comment-delete-button">削除</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                        <hr>
                        {% empty %}
                        <div class="ui warning message">
                            <p>まだコメントはありません</p>
                        </div>
                    {% endfor %}
                </div>
                <!--//コメント表示-->
                {% if request.user.is_authenticated %}
                    <!--コメント投稿-->
                    <h4>コメント投稿</h4>
                    <div class="mb-3">
                        <form action="{% url 'app:add_comment' tip.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <p>名前：
                                    {% if request.user.icon %}
                                        <img src="{{ request.user.icon.url }}" class="icon-display">
                                    {% endif %}
                                    {{ request.user.username }}</p>
                                <span>宛先(お知らせが届く対象)：</span>
                                <select class="form-select detail-comment-to" name="toUsersId" size="2" multiple="multiple">
                                    {% if tip.created_by == request.user %}
                                        <option selected="selected" value="no">なし(コメントがない場合はこの選択のみ)</option>
                                        {% for comment in comments_distinct %}
                                            {% if comment.created_by_id != request.user.id %}
                                                {% if comment.created_by__is_active %}
                                                    <option value="{{ comment.created_by_id }}">{{ comment.created_by__username }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <option selected="selected" value="{{ tip.created_by.id }}">
                                            登録者:
                                            {% if tip.created_by.is_active %}
                                                {{ tip.created_by.username }}
                                            {% else %}
                                                Inactive User
                                            {% endif %}
                                        </option>
                                        {% for comment in comments_distinct %}
                                            {% if comment.created_by_id != request.user.id and comment.created_by_id != tip.created_by.id %}
                                                {% if comment.created_by__is_active %}
                                                    <option value="{{ comment.created_by_id }}">{{ comment.created_by__username }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <p>コメント</p>
                                {% render_field form.text class="form-control auto-text" %}
                                {% for error in form.text.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {# non_field_errorを表示 #}
                            {% include 'form_alert.html' %}
                            <button type="submit" class="btn btn-custom btn-success">投稿</button>
                        </form>
                    </div>
                    <!--//コメント投稿-->
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <!-- CodeMirror用js -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"
        integrity="sha512-i9pd5Q6ntCp6LwSgAZDzsrsOlE8SN+H5E0T5oumSXWQz5l1Oc4Kb5ZrXASfyjjqtc6Mg6xWbu+ePbbmiEPJlDg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/meta.min.js"
        integrity="sha512-lA8XNUlWXrCvwl1kuDZKrlftWjM8/G6p7UH3Q9SzUC6YYy59qVLtYBSkOvmmR5O7zrKlXCm6Lo/HFhqyF1Y83A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/display/autorefresh.min.js"
        integrity="sha512-vAsKB7xXQAWMn5kcwda0HkFVKUxSYwrmrGprVhmbGFNAG1Ij+2epT3zzdwjHTJyDsKXsiEdrUdhIxh7loHyX+A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/mode/loadmode.min.js"
        integrity="sha512-oGyW28fDClI1MCVFG1N1hC3OCoYAzOUGkK5XJ1PxibLkCVXcUlqj9Fbrdy8hoVJ2xDKF3SBhOgWkgzxICt9s6A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/matchbrackets.min.js"
        integrity="sha512-03Ei8A+mDhwF6O/CmXM47U4A9L7TobAxMbPV2Wn5cEbY76lngHQRyvvmnqhJ8IthfoxrRqmtoBxQCxOC7AOeKw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/display/fullscreen.min.js"
        integrity="sha512-W1hGUpWU/hlAuQjKnoWXy29+UUA6zTad0iWfI8OrykZBf2lv35cZ6xlCCCBf/2Bpnez4ik+gY1BuHNk31sabAA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js"
        integrity="sha256-VpDGR8CkdtaV/kfM1gLSAy2Dqfxb9mym6QBbKK9YYrM="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(function () {
            // CodeMirror初期表示処理
            CodeMirror.modeURL = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/%N/%N.min.js";
            let code_tab = document.getElementsByClassName('code-tab');
            let code_content = document.getElementsByClassName('code-content');
            for (let count = 0; count < code_tab.length; count++) {

                let editor = CodeMirror.fromTextArea(code_content[count], {
                    lineNumbers: true, // 行番号を表示する
                    fixedGutter: true, // 水平カーソル移動時、行番号表示
                    readOnly: true,
                    autoRefresh: true, // 描画後にリフレッシュ(初期表示時はactiveになっていない表示がうまくいかない)
                    theme: "one-dark", //  theme設定
                    matchBrackets: true,
                    extraKeys: {
                        "Esc": function (cm) {
                            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                        }
                    }
                });

                let text = $.trim(code_tab[count].textContent)
                let filename_info = CodeMirror.findModeByFileName(text);
                if (filename_info) {
                    editor.setOption("mode", filename_info.mode);
                    CodeMirror.autoLoadMode(editor, filename_info.mode);
                }
            }

            // Tip削除ボタンクリック時のダイアログ表示
            $("#tip-delete-button").click(function () {
                swal("本当にこのTipを削除してもよろしいですか？", {
                    icon: 'warning',
                    buttons: {
                        yes: "はい",
                        cancel: "キャンセル"
                    }
                }).then((value) => {
                    switch (value) {

                        case "yes":
                            $("#tip-delete-form").submit();
                            break;

                        default:
                            break;
                    }
                });
            })

            // コメント削除ボタンクリック時のダイアログ表示
            $("#comment-delete-button").click(function () {
                swal("本当にこのコメントを削除してもよろしいですか？", {
                    icon: 'warning',
                    buttons: {
                        yes: "はい",
                        cancel: "キャンセル"
                    }
                }).then((value) => {
                    switch (value) {

                        case "yes":
                            $("#comment-delete-form").submit();
                            break;

                        default:
                            break;
                    }
                });
            })
            // テキストエリアの高さ自動調整
            $('.auto-text').autosize();
        });
    </script>

{% endblock %}
