{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'app/css/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'app/css/codemirror/theme/mdn-like.css' %}">
{% endblock %}

{% block content %}
    <div class="row  justify-content-center">
        <div class="col-9">
            <h2 class="my-3">Tip Form</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>タイトル<span class="text-danger">（必須）</span></label>
                    {% render_field form.title class="form-control" %}
                    {% for error in form.title.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group mb-3" id="code-form">
                    {{ form.formset.management_form }}
                    <label>コード（最低１つは<span class="text-danger">（必須）</span>）<small>(ファイル名は任意)</small></label>
                    <button class="btn btn-outline-secondary add-code my-3">コードを追加</button>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for formset_form in form.formset %}
                            {% for hidden in formset_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <li class="nav-item" role="presentation" style="width: 150px;">
                                <a
                                    class="nav-link tab-color {% if forloop.first %}active{% endif %} "
                                    id="code-{{ forloop.revcounter0 }}-tab"
                                    data-bs-toggle="tab"
                                    href="#code-{{ forloop.revcounter0 }}"
                                    role="tab"
                                    aria-controls="code-{{ forloop.revcounter0 }}"
                                    aria-selected="true"
                                    disabled="disabled"
                                    draggable="false"
                                    style="text-decoration: none">
                                    {% render_field formset_form.filename class="form-control code-tab", placeholder="ファイル名" %}
                                    {% for error in formset_form.filename.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content mb-3" id="myTabContent">
                        {% for formset_form in form.formset %}
                            <div
                                class="tab-pane fade{% if forloop.first %}show active{% endif %}"
                                id="code-{{ forloop.revcounter0 }}"
                                role="tabpanel"
                                aria-labelledby="code-{{ forloop.revcounter0 }}-tab">
                                {% render_field formset_form.content class="form-control code-content" style="display:none;" %}
                                {% for error in formset_form.content.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                                <span class="ms-2">{% render_field formset_form.DELETE class="code-delete" %}
                                    （左記にチェックし保存すると対象コードを<span class="text-danger">削除</span>します）</span>
                            </div>
                        {% endfor %}
                        {% if form.formset.non_form_errors %}
                            <div class="my-3">
                                {% for non_form_error in form.formset.non_form_errors %}
                                    <p class="text-danger">{{ non_form_error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        <label>説明<span class="text-danger">（必須）</span></label>
                        {% render_field form.description class="form-control" %}
                        {% for error in form.description.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label>タグ<span class="text-danger">（必須）</span><small>(複数タグはカンマ(,)区切り)</small>
                        </label>
                        {% render_field form.tags class="form-control" %}
                        {% for error in form.tags.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label class="d-block">ファイル（任意）</label>
                        {% render_field form.uploadfile class="form-control" %}
                        {% for error in form.uploadfile.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label>URL（任意）</label>
                        {% render_field form.url class="form-control" %}
                        {% for error in form.url.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label class="me-3">公開範囲</label>
                        {% for radio in form.public_set %}
                            {{ radio.tag}}
                            <label class="me-3">{{ radio.choice_label }}
                                {% if radio.choice_label == 'Private' %}
                                    <span>(最大{{ private_tips_limit }}個)</span>
                                {% endif%}
                            </label>
                        {% endfor %}
                        {% for error in form.public_set.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {# non_field_errorを表示 #}
                    {% include 'form_alert.html' %}
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <!-- CodeMirror用js -->
    <script src="{% static 'app/js/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'app/js/codemirror/mode/meta.js' %}"></script>
    <script src="{% static 'app/js/codemirror/keymap/sublime.js' %}"></script>
    <script src="{% static 'app/js/codemirror/addon/display/autorefresh.js' %}"></script>
    <script src="{% static 'app/js/codemirror/addon/mode/loadmode.js' %}"></script>

    <!-- tab追加用js -->
    <script type="text/html" id="code-tab-template">
        <li class="nav-item" role="presentation" style="width: 150px;">
            <a
                class="nav-link tab-color"
                id="code-__prefix__-tab"
                data-bs-toggle="tab"
                href="#code-__prefix__"
                role="tab"
                aria-controls="code-__prefix__"
                aria-selected="false"
                draggable="false"
                style="text-decoration: none">
                {% render_field form.formset.empty_form.filename class="form-control code-tab", placeholder="ファイル名" %}
            </a>
        </li>
    </script>
    <script type="text/html" id="code-content-template">
        <div
            class="tab-pane fade"
            id="code-__prefix__"
            role="tabpanel"
            aria-labelledby="code-__prefix__-tab">
            {% render_field form.formset.empty_form.content class="form-control code-content" %}
            <span class="ms-2">{% render_field form.formset.empty_form.DELETE class="code-delete" %}
                （左記にチェックし保存すると対象コードを<span class="text-danger">削除</span>します）</span>
        </div>
    </script>
    <script>
        $(function () {
            // CodeMirror初期表示処理
            CodeMirror.modeURL = "/static/app/js/codemirror/mode/%N/%N.js";
            var code_editor_array = []
            let code_content = document.getElementsByClassName('code-content');
            for (var count = 0; count < code_content.length; count++) {
                var editor = CodeMirror.fromTextArea(code_content[count],
                {
                    lineNumbers: true,  // 行番号を表示する
                    fixedGutter: true,  // 水平カーソル移動時、行番号表示
                    autoRefresh: true,  // 描画後にリフレッシュ(初期表示時はactiveになっていない表示がうまくいかない)
                    keyMap: "sublime",  //  keymap設定
                    theme: "mdn-like",  //  theme設定
                });
                code_editor_array.push(editor)
            }

            // 追加ボタン処理
            $('.add-code').click(function (e) {
                // tab追加処理(totalのform数を基にid等を編集して追加)
                e.preventDefault();
                var form_count = parseInt($('#id_codes-TOTAL_FORMS').attr('value'), 10);
                var tmpl_tab = $('#code-tab-template').html();
                var tmpl_content = $('#code-content-template').html();
                var new_tag_form = tmpl_tab.replace(/__prefix__/g, form_count)
                var new_content_form = tmpl_content.replace(/__prefix__/g, form_count)
                $('#myTab').append(new_tag_form);
                $('#myTabContent').append(new_content_form);
                $('#id_codes-TOTAL_FORMS').attr('value', form_count + 1);

                // CodeMirror反映処理
                var editor = CodeMirror.fromTextArea(document.getElementById(`id_codes-${form_count}-content`),
                {
                    lineNumbers: true,  // 行番号を表示する
                    fixedGutter: true,  // 水平カーソル移動時、行番号表示
                    autoRefresh: true,  // 描画後にリフレッシュ(初期表示時は座標が取得できず表示がうまくいかない)
                    keyMap: "sublime",  //  keymap設定
                    theme: "mdn-like",  //  theme設定
                });
                code_editor_array.push(editor)
            });

            // ファイル名の拡張子に応じてCodeMirrorのmode変更処理
            $(document).on('change', '.code-tab', function(e) {
                // tabのファイル名を変更した要素のeditorを取得
                let id = e.target.id;
                let id_num = id.replace(/[^0-9]/g, '');
                let target_editor = code_editor_array[Number(id_num)];

                // ファイル名(拡張子)から対象の言語を判定
                let text = $(e.target).val();
                var filename_info = CodeMirror.findModeByFileName(text);

                if (filename_info){
                    target_editor.setOption("mode", filename_info.mode);
                    CodeMirror.autoLoadMode(target_editor, filename_info.mode);
                } else {
                    // 判定できない場合、null(PlainText)モード
                    target_editor.setOption("mode", "null");
                }
            });
            // 削除チェック時にコードの入力エリアをグレー(網掛け)表示
            $(document).on('change', '.code-delete', function(e) {
                let id = e.target.id;
                let id_num = id.replace(/[^0-9]/g, '');

                let tab = document.getElementById(`id_codes-${id_num}-filename`);
                let content = document.querySelector(`#code-${id_num} .CodeMirror`);
                if( $(e.target).prop('checked') ){
                    tab.classList.add('delete-color')
                    content.classList.add('delete-color')
                }else{
                    tab.classList.remove('delete-color')
                    content.classList.remove('delete-color')
                }

            });

        });
    </script>

{% endblock %}
