{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extra_css%}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"
        integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/mdn-like.min.css"
        integrity="sha512-d1mnXGBFE/kEcVYDWOvqqRQov8YZhS5Eg5i6kX8smrEcMFcFIYpXW000lKxquKR4KdheA0+IE6xSmsmumGYNiA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2 class="my-3">Tip Form</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>タイトル<span class="text-danger">（必須）</span></label>
                    {% render_field form.title class="form-control" %}
                    {% for error in form.title.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group mb-3" id="code-form">
                    {{ form.formset.management_form }}
                    <label>コード<span class="text-danger">（必須）</span>
                        <small>(ファイル名は任意)</small>
                    </label>
                    <button class="btn btn-custom btn-outline-secondary add-code my-2">コードを追加</button>
                    <p>
                        <small>
                            <span class="text-danger">※保存できるコードはTip１つに最大５つです。</span><br>
                            Formには５つ以上表示可能ですが、保存時にエラーとなります。<br>削除のチェックを入れるとカウントの対象外となります。
                        </small>
                    </p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for formset_form in form.formset %}
                            {% for hidden in formset_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <li class="nav-item form-tab-list" role="presentation">
                                <a
                                    class="px-2 nav-link form-tab-text {% if forloop.first %}active{% endif %} "
                                    id="code-{{ forloop.counter0 }}-tab"
                                    data-bs-toggle="tab"
                                    href="#code-{{ forloop.counter0 }}"
                                    role="tab"
                                    aria-controls="code-{{ forloop.counter0 }}"
                                    aria-selected="true"
                                    disabled="disabled"
                                    draggable="false"
                                    style="text-decoration: none">
                                    {% render_field formset_form.filename class="form-control code-tab", placeholder="ファイル名" %}
                                    {% for error in formset_form.filename.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content mb-3" id="myTabContent">
                        {% for formset_form in form.formset %}
                            <div
                                class="tab-pane fade{% if forloop.first %} active show{% endif %}"
                                id="code-{{ forloop.counter0 }}"
                                role="tabpanel"
                                aria-labelledby="code-{{ forloop.counter0 }}-tab">
                                {% render_field formset_form.content class="form-control code-content" style="display:none;" %}
                                {% for error in formset_form.content.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                                <span class="ms-2">{% render_field formset_form.DELETE class="code-delete" %}
                                    （左記にチェックし保存すると対象コードを<span class="text-danger">削除</span>します）</span>
                            </div>
                        {% endfor %}
                        {% for formset_form in form.formset %}
                            {% if formset_form.content.errors %}
                                <p class="text-danger my-3">{{ forloop.counter }}つ目のコードエリアに誤りがあります。</p>
                            {% endif %}
                        {% endfor %}
                        {% if form.formset.non_form_errors %}
                            <div class="my-3">
                                {% for non_form_error in form.formset.non_form_errors %}
                                    <p class="text-danger">{{ non_form_error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        <label>説明<span class="text-danger">（必須）</span></label>
                        {% render_field form.description class="form-control" %}
                        {% for error in form.description.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label>タグ<span class="text-danger">（必須）</span>
                            <small class="form-tag-label">(<span class="text-danger">最大5つ。</span>言語やフレームワーク等。複数タグはカンマ(,)区切り)</small>
                        </label>
                        {% render_field form.tags class="form-control" %}
                        {% for error in form.tags.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label class="d-block">ファイル（任意）<small class="text-danger">(3MB未満)</small>
                        </label>
                        {% render_field form.uploadfile class="form-control" %}
                        {% for error in form.uploadfile.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label>URL（任意）</label>
                        {% render_field form.url class="form-control" %}
                        {% for error in form.url.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-3">
                        <label class="me-3 ">公開範囲</label>
                        <div class="public-set-form">
                            {% for radio in form.public_set %}
                                {{ radio.tag }}
                                <label class="me-3">{{ radio.choice_label }}
                                    {% if radio.choice_label == 'Private' %}
                                        <span>(最大{{ private_tips_maxnum }}個)</span>
                                        {% endif%}
                                    </label>
                                {% endfor %}
                            </div>
                            {% for error in form.public_set.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {# non_field_errorを表示 #}
                        {% include 'form_alert.html' %}
                        <button type="submit" class="btn btn-custom btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}

    {% block extra_js %}
        <!-- CodeMirror用js -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"
            integrity="sha512-i9pd5Q6ntCp6LwSgAZDzsrsOlE8SN+H5E0T5oumSXWQz5l1Oc4Kb5ZrXASfyjjqtc6Mg6xWbu+ePbbmiEPJlDg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/meta.min.js"
            integrity="sha512-lA8XNUlWXrCvwl1kuDZKrlftWjM8/G6p7UH3Q9SzUC6YYy59qVLtYBSkOvmmR5O7zrKlXCm6Lo/HFhqyF1Y83A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/display/autorefresh.min.js"
            integrity="sha512-vAsKB7xXQAWMn5kcwda0HkFVKUxSYwrmrGprVhmbGFNAG1Ij+2epT3zzdwjHTJyDsKXsiEdrUdhIxh7loHyX+A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/mode/loadmode.min.js"
            integrity="sha512-oGyW28fDClI1MCVFG1N1hC3OCoYAzOUGkK5XJ1PxibLkCVXcUlqj9Fbrdy8hoVJ2xDKF3SBhOgWkgzxICt9s6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/keymap/sublime.min.js"
            integrity="sha512-CB1k89Ilzxp1upm9MpHjWR0Ec2wg/OzDfWC/pmjJkDnxmXMl4AhgZ4bYPdkWjlL6NoLfoZppxHf55hunUgg8wQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

        <!-- tab追加用js -->
        <script type="text/html" id="code-tab-template">
            <li class="nav-item form-tab-list" role="presentation">
                <a
                    class="px-2 nav-link form-tab-text"
                    id="code-__prefix__-tab"
                    data-bs-toggle="tab"
                    href="#code-__prefix__"
                    role="tab"
                    aria-controls="code-__prefix__"
                    aria-selected="false"
                    draggable="false"
                    style="text-decoration: none">
                    {% render_field form.formset.empty_form.filename class="form-control code-tab", placeholder="ファイル名" %}
                </a>
            </li>
        </script>
        <script type="text/html" id="code-content-template">
            <div
                class="tab-pane fade"
                id="code-__prefix__"
                role="tabpanel"
                aria-labelledby="code-__prefix__-tab">
                {% render_field form.formset.empty_form.content class="form-control code-content" %}
                <span class="ms-2">{% render_field form.formset.empty_form.DELETE class="code-delete" %}
                    （左記にチェックし保存すると対象コードを<span class="text-danger">削除</span>します）</span>
            </div>
        </script>
        <script>
            $(function () {
                // 初期表示処理
                CodeMirror.modeURL = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/%N/%N.min.js";
                let code_editor_array = []
                let code_tab = document.getElementsByClassName('code-tab');
                let tab_pane = document.getElementsByClassName('tab-pane');
                let code_delete = document.getElementsByClassName('code-delete');
                for (let count = 0; count < code_tab.length; count++) {
                    // CodeMirror初期設定
                    let code_content = tab_pane[count].querySelector('.code-content');
                    let editor = CodeMirror.fromTextArea(code_content, {
                        lineNumbers: true, // 行番号を表示する
                        fixedGutter: true, // 水平カーソル移動時、行番号表示
                        autoRefresh: true, // 描画後にリフレッシュ(初期表示時はactiveになっていない表示がうまくいかない)
                        keyMap: "sublime", //  keymap設定
                        theme: "mdn-like", //  theme設定
                    });

                    // ファイル名(拡張子)から対象の言語を判定
                    let text = $.trim(code_tab[count].value);
                    let filename_info = CodeMirror.findModeByFileName(text);

                    if (filename_info) {
                        editor.setOption("mode", filename_info.mode);
                        CodeMirror.autoLoadMode(editor, filename_info.mode);
                    } else {
                        // 判定できない場合、null(PlainText)モード
                        editor.setOption("mode", "null");
                    }

                    code_editor_array.push(editor)

                    // 削除チェック時にコードの入力エリアをグレー(網掛け)表示(エラー時にチェックがついた状態でのリターンケースで必要)
                    let code_mirror_content = tab_pane[count].querySelector(".CodeMirror");
                    if ($(code_delete[count]).prop('checked')) {
                        code_tab[count]
                            .classList
                            .add('delete-color')
                        code_mirror_content
                            .classList
                            .add('delete-color')
                    }
                }

                // 変更時処理 追加ボタン処理
                $('.add-code').click(function (e) {
                    // tab追加処理(totalのform数を基にid等を編集して追加)
                    e.preventDefault();
                    let form_count = parseInt($('#id_codes-TOTAL_FORMS').attr('value'), 10);
                    let tmpl_tab = $('#code-tab-template').html();
                    let tmpl_content = $('#code-content-template').html();
                    let new_tag_form = tmpl_tab.replace(/__prefix__/g, form_count)
                    let new_content_form = tmpl_content.replace(/__prefix__/g, form_count)
                    $('#myTab').append(new_tag_form);
                    $('#myTabContent').append(new_content_form);
                    $('#id_codes-TOTAL_FORMS').attr('value', form_count + 1);

                    // CodeMirror初期設定
                    let editor = CodeMirror.fromTextArea(document.getElementById(`id_codes-${form_count}-content`), {
                        lineNumbers: true, // 行番号を表示する
                        fixedGutter: true, // 水平カーソル移動時、行番号表示
                        autoRefresh: true, // 描画後にリフレッシュ(初期表示時は座標が取得できず表示がうまくいかない)
                        keyMap: "sublime", //  keymap設定
                        theme: "mdn-like", //  theme設定
                    });
                    code_editor_array.push(editor)
                });

                // ファイル名の拡張子に応じてCodeMirrorのmode変更処理
                $(document).on('change', '.code-tab', function (e) {
                    // tabのファイル名を変更した要素のeditorを取得
                    let id = e.target.id;
                    let id_num = id.replace(/[^0-9]/g, '');
                    let target_editor = code_editor_array[Number(id_num)];

                    // ファイル名(拡張子)から対象の言語を判定
                    let text = $.trim($(e.target).val());
                    let filename_info = CodeMirror.findModeByFileName(text);

                    if (filename_info) {
                        target_editor.setOption("mode", filename_info.mode);
                        CodeMirror.autoLoadMode(target_editor, filename_info.mode);
                    } else {
                        // 判定できない場合、null(PlainText)モード
                        target_editor.setOption("mode", "null");
                    }
                });
                // 削除チェック時にコードの入力エリアをグレー(網掛け)表示
                $(document).on('change', '.code-delete', function (e) {
                    let id = e.target.id;
                    let id_num = id.replace(/[^0-9]/g, '');

                    let tab = document.getElementById(`id_codes-${id_num}-filename`);
                    let content = document.querySelector(`#code-${id_num} .CodeMirror`);
                    if ($(e.target).prop('checked')) {
                        tab
                            .classList
                            .add('delete-color')
                        content
                            .classList
                            .add('delete-color')
                    } else {
                        tab
                            .classList
                            .remove('delete-color')
                        content
                            .classList
                            .remove('delete-color')
                    }

                });

            });
        </script>

    {% endblock %}
