{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <br>
            <h2>Post削除</h2>
            <br>
            <div class="alert alert-danger" role="alert">
                <form method="post">
                    {% csrf_token %}
                    <p>以下の内容を本当に削除しますか？</p>
                    <input type="submit" class="btn btn-danger" value="削除する">
                </form>
            </div>

            <br>
            <p>タイトル</p>
            {{ object.title }}
            <hr>
            <p>コード</p>
            {{ object.code }}
            <div class="my-3">
                <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-dark">戻る</a>
            </div>

        </div>
    </div>

{% endblock %}
