{% extends "base.html" %}

{% block content %}

    <div class="card card-auth my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">ログアウトしますか。</div>
            <form class="form-auth" method="post">
                {% csrf_token %}
                <div class="button mx-auto text-center">
                    <button class="btn btn-custom btn-lg btn-warning btn-block" type="submit">ログアウト</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}