{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <h5 class="card-title text-center">プロフィール</h5>
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">ユーザ名</th>
                        <td class="data">{{ user_data.username }}</td>
                    </tr>
                    <tr>
                        <th class="header">メールアドレス</th>
                        <td class="data">{{ user_data.email }}</td>
                    </tr>
                    <tr>
                        <th class="header">アイコン</th>
                        <td class="data"><img
                            src="{% if user_data.icon %}{{ user_data.icon.url }}{% else %}{% static 'accounts/img/noimage.png' %}{% endif %}"
                            class="d-block mx-auto default-preview-img"></td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto text-center">
                <a href="{% url 'accounts:profile_edit' %}" class="btn btn-lg btn-warning btn-block">編集する</a>
                <a href="{% url 'account_change_password' %}" class="btn btn-lg btn-danger btn-block">パスワード変更</a>
            </div>
        </div>
    </div>

{% endblock %}
