{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load socialaccount %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap-social.css' %}">
{% endblock %}

{% block content %}

    <div class="card card-auth my-5 mx-auto">
        <div class="card-body pb-3">
            <h5 class="card-title text-center">サインアップ</h5>
            <form class="form-auth" method="post">
                {% csrf_token %}
                <div class="form-label-group">
                    {% render_field form.username class="form-control" placeholder='ユーザ名' %}
                    {% for error in form.username.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-label-group">
                    {% render_field form.email class="form-control" placeholder='メールアドレス' %}
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-label-group">
                    {% render_field form.password1 class="form-control" placeholder='パスワード' %}
                    {% for error in form.password1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-label-group">
                    {% render_field form.password2 class="form-control" placeholder='パスワード(確認)' %}
                    {% for error in form.password2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {# non_field_errorを表示 #}
                {% include 'form_alert.html' %}
                <p><small>サインアップすると仮登録されます。<br>入力したメールアドレスに本登録用のメールを送信しますので、引き続き本登録を実施してください。</small></p>
                <div class="button mx-auto text-center">
                    <button class="btn btn-custom btn-lg btn-primary btn-block" type="submit">サインアップ</button>
                </div>
            </form>
        </div>
        <div class="mx-auto mb-1 text-center">
            <p class="mb-1">ソーシャルアカウントでサインアップ</p>
            <p><small>（GitHubは仮登録(メール認証が必要)となります）</small></p>
        </div>
        <div class="button-social mx-auto mb-2">
            <a href="{% provider_login_url 'google' %}" class="btn btn-custom btn-social btn-google"><span class="fab fa-google"></span>Googleでサインアップ</a>
        </div>
        <div class="button-social mx-auto  mb-2">
            <a href="{% provider_login_url 'github' %}" class="btn btn-custom btn-block btn-social btn-github"><span class="fab fa-github"></span>GitHubでサインアップ</a>
        </div>
        <p class="mb-2 text-center">既にアカウントを持っている方は<br><a href="{{ login_url }}">ここからログイン</a>してください.</p>
        <p class="text-center">退会ユーザの再登録は<a href="{% url 'accounts:reregistration' %}">こちら</a></p>
    </div>

{% endblock %}