{% extends "base.html" %}

{% block title %}退会処理完了{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title auth-message-title">ユーザ退会処理の完了</div>
            <div class="auth-message-content">
                <p class="mb-2">
                    ユーザの退会処理が完了しました。<br>
                    登録しているメールアドレス宛に退会完了メールを送付しております。<br>
                    この度はTikStockをご利用いただき誠にありがとうございました。
                </p>
            </div>
        </div>
    </div>

{% endblock %}