{% extends "base.html" %}
{% load account %}

{% block title %}ユーザ本登録{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">ユーザ本登録</div>
            <div class="text-center">
                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <p>{{ confirmation.email_address.email }}は{{ user_display }}さんのメールアドレスで間違いありませんか。
                        <br>間違いなければ、本登録ボタンをクリックして本登録を完了してください。</p>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="button mx-auto text-center my-2">
                            <button class="btn btn-custom btn-lg btn-outline-success btn-block" type="submit">本登録</button>
                        </div>
                    </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>本登録認証リンクの有効期限が過ぎています。</p>
                    <p><a href="{{ email_url }}">ここから</a>再度本登録認証メールを発行してください</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
