{% extends "base.html" %}
{% load account %}

{% block title %}再設定メール送信{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">パスワード再設定メールの送信完了</div>
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>パスワード再設定用のメールを送信しました。<br>数分たっても届かない場合はお問い合わせよりご連絡ください。</p>
            </div>
        </div>
    </div>

{% endblock %}
