{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
    <h2 class="my-3">
        {% if token_fail %}Tokenが無効です。{% else %}パスワード変更{% endif %}
    </h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>パスワード再設定リンクは既に使用されているため無効でした。</p>
        <p>再度<a href="{{ passwd_reset_url }}">ここからパスワード再設定</a>をしてください。</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group field my-3">
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>
                        {% render_field field class="form-control password-reset" placeholder='' %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" name="action" value="パスワード変更"/>
            </form>
        {% else %}
            <p>パスワードが変更されました。</p>
        {% endif %}
    {% endif %}
{% endblock %}
