{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">パスワード再設定</div>
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>パスワードをお忘れですか？<br>
                    メールアドレスを入力し送信ボタンをクリックすると、<br>再設定用のメールが送信されます。</p>
            </div>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <table class="profile_table mb-4">
                    <tbody>
                        <tr>
                            <th class="header">{{ form.email.label }}</th>
                            <td class="data">
                                {% render_field form.email class="form-control" placeholder='' %}
                                {% for error in form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {# non_field_errorを表示 #}
                {% include 'form_alert.html' %}
                <div class="button mx-auto text-center my-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">メール送信</button>
                </div>
                <p class="my-3 text-center">パスワードの再設定に問題がある場合はお問い合わせよりご連絡ください。</p>
            </form>
        </div>
    </div>

{% endblock %}
