{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">
                {% if token_fail %}Tokenが無効です。{% else %}パスワード変更{% endif %}
            </div>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="text-center">
                    <p>パスワード再設定リンクは既に使用されているため無効でした。</p>
                    <p>再度<a href="{{ passwd_reset_url }}">ここからパスワード再設定</a>をしてください。</p>
                </div>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <table class="profile_table mb-4">
                            <tbody>
                                <tr>
                                    <th class="header">{{ form.password1.label }}</th>
                                    <td class="data">
                                        {% render_field form.password1 class="form-control" placeholder='' %}
                                        {% for error in form.password1.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="header">{{ form.password2.label }}</th>
                                    <td class="data">
                                        {% render_field form.password2 class="form-control" placeholder='' %}
                                        {% for error in form.password2.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {# non_field_errorを表示 #}
                        {% include 'form_alert.html' %}
                        <div class="button mx-auto text-center my-2">
                            <button class="btn btn-custom btn-lg btn-danger btn-block" type="submit">変更する</button>
                        </div>
                        <p class="text-center">パスワードをお忘れの場合は<a href="{% url 'account_reset_password' %}">こちらで再設定</a>
                        </p>
                    </form>
                {% else %}
                    <p class="text-center">パスワードが変更されました。</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
