{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}パスワード変更{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title text-center">パスワード変更</div>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <table class="profile_table mb-4">
                    <tbody>
                        <tr>
                            <th class="header">{{ form.oldpassword.label }}</th>
                            <td class="data">
                                {% render_field form.oldpassword class="form-control" placeholder='' %}
                                {% for error in form.oldpassword.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="header">{{ form.password1.label }}</th>
                            <td class="data">
                                {% render_field form.password1 class="form-control" placeholder='' %}
                                {% for error in form.password1.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="header">{{ form.password2.label }}</th>
                            <td class="data">
                                {% render_field form.password2 class="form-control" placeholder='' %}
                                {% for error in form.password2.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {# non_field_errorを表示 #}
                {% include 'form_alert.html' %}
                <div class="button mx-auto text-center my-2">
                    <button class="btn btn-lg btn-danger btn-block" type="submit">変更する</button>
                </div>
                <p class="text-center">パスワードをお忘れの場合は<a href="{% url 'account_reset_password' %}">こちらで再設定</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}
