{% extends "base.html" %}

{% block title %}本登録メール送信{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title auth-message-title">ユーザ本登録メール送信完了</div>
            <div class="auth-message-content">
                <p>本登録実施のためのメールを送信しました。<br>
                    メールに記載されたリンクをクリックして、本登録を実施してください。<br>
                    本登録を実施することでユーザ登録が完了しログインすることが可能となります。<br>
                    数分待っても確認のメールが届かない場合はお問い合わせよりご連絡ください。</p>
            </div>
        </div>
    </div>

{% endblock %}
