{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}サインアップ{% endblock %}

{% block content %}

    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <div class="card-title auth-message-title">サインアップ</div>
            <p class="text-center">{{account.get_provider.name}}アカウントを使用してユーザ登録を実行します。<br>
                以下の内容を確認してサインアップしてください。</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                <table class="profile_table mb-4">
                    <tbody>
                        <tr>
                            <th class="header">{{ form.email.label }}</th>
                            <td class="data">
                                {% render_field form.email class="form-control" placeholder='' %}
                                {% for error in form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="header">{{ form.username.label }}</th>
                            <td class="data">
                                {% render_field form.username class="form-control" placeholder='' %}
                                {% for error in form.username.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {# non_field_errorを表示 #}
                {% include 'form_alert.html' %}
                <div class="button mx-auto text-center my-2">
                    <button class="btn btn-custom btn-lg btn-primary btn-block" type="submit">サインアップ</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
