@charset"utf-8";

/*==============================
top
==============================*/
.top {
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center top;
    padding: 80px 0;
}

.top-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.top-subtitle {
    font-size: 18px;
    text-align: center;
}
/*==============================
section共通クラス
==============================*/
.section {
    padding: 60px 0;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

/*==============================
about
==============================*/
.about-left {
    float: left;
    width: 48%;
}

.about-left img{
    width: 100%;
    height: auto;
}

.about-right {
    float: right;
    width: 48%;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

/*==============================
menu
==============================*/
.menu {
    background-color: #e3fcf4;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    width: 30%;
}

.menu-title {
    text-align: center;
}

/*==============================
note
==============================*/
.note-message {
    text-align: center;
    margin-bottom: 10px;
}

/*==============================
register
==============================*/
.register {
    background-color: #fff8dc;
}


.register-message {
    text-align: center;
    margin-bottom: 20px;
}


.btn-register {
    padding: 20px 60px;
    text-align: center;
    color: #fff;
    background-color: #ec6d64;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    display: block;
    margin: auto;
}

.btn-register:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*==============================
スマホ用の表示
==============================*/
@media only screen and (max-width:767px) {

    /*==============================
    top
    ==============================*/
    .top {
        padding: 120px 0;
    }

    .top-title {
        font-size: 32px;
    }

    .top-subtitle {
        font-size: 14px;
    }

    /*==============================
    section共通クラス
    ==============================*/
    .section {
        padding: 80px 0;
    }

    .section-title {
        font-size: 24px;
        font-weight: bold;
    }

    .section p {
        font-size: 14px;
    }

    /*==============================
    about
    ==============================*/
    .about-left {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 50px;
    }

    .about-right {
        float: none;
        width: 100%;
    }

    /*==============================
    menu
    ==============================*/
    .menu-item {
        width: 100%;
        margin-bottom: 20px;
    }

    /*==============================
    register
    ==============================*/
    .btn-register {
        padding: 20px 30px;
        font-size: 16px;
    }

}