@charset"utf-8";

body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: #082b48;
    font-family:  -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    line-height: 1.5;
}

b, strong, .bold{
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue",
    HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;
}

main {
    flex: 1;
}


a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.copyright {
    font-size: 12px;
}

.card-profile {
    max-width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
    max-width: 150px;
}

.button_social {
    max-width: 200px;
}

.btn-custom {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
}

.profile_table {
    width: 100%;
    border: 1px solid #d1dbeb;
    border-radius:8px;
    border-collapse: separate;
    overflow: hidden;
    table-layout: fixed;
}

.profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #f1f5fa;
}

.profile_table .data {
    padding: 16px 24px;
}


.form-control:focus {
    box-shadow: none;
}

.card-auth {
    max-width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.public-set-form {
    display: inline;
}

.detail-card-title {
    border-bottom: solid 1px;
}

.form-tab-list,
.detail-tab-list {
    width: 140px;
}

.form-tab-text,
.detail-tab-text {
    color: black !important;
    border: solid 0.5px !important;
    border-color: #ced4da  !important;
}

.form-tab-text.active,
.detail-tab-text.active {
    background-color: rgba(0, 83, 159, 0.15) !important;
}

.detail-comment-to {
    overflow: scroll;
}

.tab-pane {
    border: 1px solid; 
    border-color: #ced4da;
    border-radius: .15rem;
}

.delete-color {
    background-color: silver !important;
}

.auto-text {
  /* 要素のサイズを可変から固定にする */
  resize: none;
  /* 要素がスクロールしないようにする */
  overflow: hidden;
}

.default-preview-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.password-reset {
    width: 300px;
    border-radius: 2rem;
}

.contact {
    max-width: 600px;
}

.tag {
    font-size: .8rem;
    color: #fff;
    padding: .25em .5em;
    background: teal;
    border-radius: 3px;
    margin-top: 8px;
}

.icon-display {
    height: 20px;
    width: 20px;
    border: solid 0.1px;
    border-radius: 5px;
}

.icon-userpage {
    height: 32px;
    width: 32px;
    border: solid 0.1px;
    border-radius: 5px;
}

.already-read {
    background-color: lightgray;
}

.display-order {
    display: inline;
}

.search-target {
    display: inline;
}

.search-form {
    display: inline;
}

.query-search {
    width: 250px;
    display: inline;

}

.tag-search {
    width: 150px;
    display: inline;
}

.card-effect{
    box-shadow: 0px 6px 8px #999;
}

.card-effect:hover {
	box-shadow: 0px 1px 2px #aaa;
	opacity: 0.6;
}

.notification-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.follow-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.follow-body {
    padding: 24px;
}

.auth-message-title,
.auth-message-content {
    text-align: center;
}


@media only screen and (max-width:767px) {

    .copyright {
        font-size: 10px;
    }

    .profile_table {
        table-layout: fixed;
    }

    .profile_table .header,
    .profile_table .data{
        display: block;
        padding: 8px 12px;
        width: 100%;
    }

    .form-tab-list {
        width: 100px;
    }
    
    .form-tab-text {
        padding: 5px;
    }

    .form-tag-label {
        display: block;
    }

    .code-tab {
        padding: 6px;
        font-size: 14px !important;
    }

    .detail-tab-list {
        width: 85px;
    }
    
    .detail-tab-text {
        font-size: 14px;
        padding: 5px;
    }

    .detail-card-body {
        padding: 16px;
    }

    .detail-list {
        font-size: 14px;
    }

    .detail-comment-to {
        font-size: 14px;
    }

    .public-set-form {
        display: block;
    }

    .display-order {
        display: block;
    }

    .search-target {
        display: block;
    }

    .query-search {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .tag-search {
        display: block;
        font-size: 14px;
    }

    .notification-icon {
        width: 48px;
        height: 48px;
    }

    .notification-body {
        padding: 16px;
        font-size: 14px;
    }
    .follow-icon {
        width: 48px;
        height: 48px;
    }
    
    .follow-body {
        padding: 16px;
        font-size: 14px;
    }
    

    .auth-message-title {
        font-size: 18px;
    }

    .auth-message-content {
        text-align: left;
        font-size: 14px;
    }

    .password-set {
        font-size: 14px;
    }

}