* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: #082b48;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

main {
    flex: 1;
}


a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.card-profile {
    max-width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
    max-width: 150px;
}

.button_social {
    max-width: 200px;
}

.btn-custom {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
}

.profile_table {
    width: 100%;
    border: 1px solid #d1dbeb;
    border-radius:8px;
    border-collapse: separate;
    overflow: hidden;
}

.profile_table .header {
    max-width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #f1f5fa;
}

.profile_table .data {
    padding: 16px 24px;
}


.form-control:focus {
    box-shadow: none;
}

.card-auth {
    max-width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.tab-color {
    color: black !important;
    border: solid 0.5px !important;
    border-color: #ced4da  !important;
}

.tab-color.active {
    background-color: rgba(0, 83, 159, 0.15) !important;
}

.tab-pane {
    border: 1px solid; 
    border-color: #ced4da;
    border-radius: .15rem;
}

.delete-color {
    background-color: silver !important;
}

.default-preview-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.password-reset {
    width: 300px;
    border-radius: 2rem;
}

.contact {
    max-width: 600px;
}

.tag {
    font-size: .8rem;
    color: #fff;
    padding: .25em .5em;
    background: teal;
    border-radius: 3px;
    margin-top: 8px;
}

.icon-display {
    height: 20px;
    width: 20px;
    border: solid 0.1px;
    border-radius: 5px;
}

.already-read {
    background-color: lightgray;
}

.display-order {
    display: inline;
}

.search-target {
    display: inline;
}

.search-form {
    display: inline;
}

.query-search {
    width: 200px;
    display: inline;

}

.tag-search {
    width: 150px;
    display: inline;
}


@media only screen and (max-width:767px) {

    .profile_table .header,
    .profile_table .data{
        display: block;
        max-width: 100%;
    }

    .display-order {
        display: block;
    }

    .search-target {
        display: block;
    }

    .query-search {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .tag-search {
        display: block;
        font-size: 13px;
    }

}